h1{
    color:#ff0000;
    text-align: center;
}
h3{
    text-align: center;
    color:#000000;
}
p{
    color: #964B00;
    text-align: center;
    line-height: 30px;
}
h4{
    text-align: center;
}
a{
    color:rgb(0, 255, 0);
    text-decoration: none;
}
textarea{
    color: #000000;
}

button{
    color:blueviolet;
    background-color: white;
    text-align: center;
}
span{
    text-decoration: underline;
}