h1{
    color: rgb(183, 75, 36);
    text-align: center;
    text-decoration:underline dotted;
}
h2{
    text-decoration:gray underline;
    text-align: end;  
}
p{
    font-family: monospace;
    text-align:justify;
    font-weight: 500;
    font-size:medium;
    line-height: 1.4;
    letter-spacing:1.5px;


}
a{
    color: cadetblue;
    text-decoration:dashed underline black ;
    font-style: italic;
    font-weight: bolder;
    font-family:'Brush Script MT', cursive;
}
blockquote{
    font-weight: 700;
    font-family: 'Pacifico', cursive;

}
footer{
    font-weight: bold;
    font-size: 12px;
}