div{
    height:200px;
    width: 200px;
    background-color:#a52a2aff;
}
#opacity{
    background-color: yellow;
    opacity:0.5;
}

#transition{
    background-color: cadetblue;
    height:200px;
    width: 200px;
    margin:0 auto;
    transition:all 3s ease 2s;
}
#transition:hover{
    background-color:aquamarine;
    border: 2px solid aquamarine;
    margin-top: 200px;
    border-radius:50%;
}