  *{
    font-family: 'Courier New';
  }
  h1{
    color: #e95111;
  }
  #login
  {
    background-color: #ffffff;
  }
  #signup{
    background-color: #e95111;
    color: white;
  }
  .upvote{
    background-color: green;
    color: aliceblue;
  }
  nav a{
    color: purple;
  }
  .post a{
    color: purple;
    background-color: yellow;
  }