  *{
    font-family: 'Courier New';
  }
  h1{
    color: #e95111;
  }
  #login
  {
    background-color: #ffffff;
    color: black;
  }
  #signup{
    background-color: #e95111;
    color: white;
  }
  .upvote{
    background-color: green;
    color: aliceblue;
  }
  nav a{
    color: purple;
  }
  .post a{
    color: purple;
    background-color: yellow;
  }

  nav ul li a{
    color: hotpink;
  }
  p + h3{
    text-decoration: underline;
  }
  .upvote + button{
    background-color: cornflowerblue;
    color: darkblue;
  }

  div > input{
    background-color: darksalmon;
  }

  input[type="text"]{
    color: aqua;
  }
  input[type="password"]{
    color: black;
  }
  button:hover{
    background-color: black;
    color: #ffffff;
  }
  h3:hover{
    text-decoration: overline;
  }
  button:active{
    background-color: #e95111;
  }
  input[type="radio"]:checked + label{
    font-weight:bolder;
    color:chocolate
  }

  